@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Teko:wght@300&display=swap');


html{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    text-align: center;
}

/* BANNER SECTION */
#particles-js{
    background-color: #222020;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

h2:first-of-type{
    border-bottom: rgb(101, 177, 243) solid 8px;
    padding-bottom: 5px;
}

#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    font-size: 2.3rem;
    text-align: center;
}

#banner h2, #view-work-button{
    color: #fff;
    margin-bottom: 0.5rem;
}

h2>span{
    color: rgb(101, 177, 243);
}

#view-work-button{
    font-size: 1rem;
    border: #fff solid 1px;
    width: 30%;
    padding: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 5px;
}   

a{
    text-decoration: none;
    color: #fff;
}

#view-work-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    background-color: rgb(101, 177, 243);
    transition: transform 300ms ease-in-out;
}

#view-work-button:hover::before{
    transform: scaleX(1);
}

#view-work-button:hover .fa-arrow-right{
    transform: rotate(90deg);
}

#view-work-button:hover{
    cursor: pointer;
}

#view-work-button .fa-arrow-right{
    transition: 300ms transform ease-in-out;
}

/* MEDIA QUERY FOR HEARDER SECTION */

@media only screen and (max-width: 940px){

    #banner{
            font-size: 2rem;
            width:60%
    }

    #view-work-button{
        padding: 0.6rem;
        width: 40%;
    }
}

@media only screen and (max-width: 800px){
    #banner{
        width: 80%;
        top: 35%;
    }

    #banner h2{
        font-size: 2.4rem;
    }

    #view-work-button{
        width: 55%;
    }
}

@media only screen and (max-width: 500px) {
    #banner h2{
        font-size: 2rem;
    }

}

/* NAV BAR */
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(60, 43, 43, 0);
    border-bottom: #ffffff8f solid 1px;
    align-items: center;
}

.logo  {
    color: #65B1F3;
    font-size: 1.5rem;
    margin-left: 2rem;
    font-family: 'Teko', sans-serif;
}

ul{
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(8, 15, 20, 0.733); */
    height: 100%;
    align-items: center;
    padding: 1.5rem;
    width: 50%;
}

#particles-js > .logo{
    display: none;
    position: absolute;
    top: 30px;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

ul li a::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(101, 177, 243);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 300ms ease-in-out;
    margin-top: 5px;
}

ul li a:hover::after{
    transform: scaleX(1);
}

.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
    position: absolute;
    right: 20px;
    top: 30px;
}

.hamburger:hover{
    background-color: #44424c;
}

.hamburger div{
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #ffffff;
}

/* MEDIA QUERY FOR NAV BAR */

@media only screen and (max-width: 900px){
    ul{
        width: 70%;
    }
}

@media only screen and (max-width: 620px){
    nav{
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 10;
        width: 50%;
        height: 100vh;
        background-color: #fefefee0;
        transition: 0.2s;
        box-shadow: 2px 0 20px rgba(0, 0, 0, 0.3);
        display: block;
        padding-left: 20px;
    }

    #nav-check:checked ~ nav{
        left: 0;
    }

    ul{
        display: block;
        width: fit-content;
        
    }

    #particles-js > .logo{
        display: none;
    }
    

    nav .logo{
        display: block;
        margin-top: 20px;
    }

    /* .logo{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    } */

    .hamburger{
        display: block;
    }

    ul li a{
        color: black;
    }
}

/* ABOUT ME */

#about{

    width: 80%;
    position: relative;
    margin: 0 auto;
}
#about h2{
    font-size: 3rem;
    border-bottom: none;
    /* margin-bottom: 1rem; */
    text-align: left;
    padding-left: 5rem;
    margin-top: 0.7rem;
    border-bottom: #65B1F3 2px solid;
}

/* #about h2::after{
    content: '';
    display: block;
    width: 12rem;
    height: 6px;
    background-color: rgb(101, 177, 243);
    margin: 5px auto;
} */

.content-container{
    display: grid;
    grid-template-columns: 1fr 300px;
    padding-top: 50px;
 }

.content-container p{
    width: 80%;
    margin: auto;
    letter-spacing: 1px;
    line-height: 22px;
    z-index: 2;
}

.photo-of-me-container{
    width: 100%;
    z-index: 2;
}

 .my-photo{
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 2px 9px 26px -6px;
    justify-self: center;
} 


.cv-button{
    display: block;
}
.cv-button a {
    color: #000;
}

/* MEDIA QUERT ABOUT ME*/

@media only screen and (max-width: 920px){
    .content-container{
        display: flex;
        flex-direction: column;
    }

    .photo-of-me-container{
        width: 50%;
        height: auto;
        margin: 2rem auto;
    }

    #about h2, #skills h2, #projects h2{
        text-align: center;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 780px){
    #about{
        width: 90%;
    }
}

/* SKILLS SECTION */

#skills {
    background-color: #65B1F3;
    padding:2rem 13.18rem;
    margin-top: 50px;
}

#skills h2{
    color: #fff;
    font-size: 3rem;
    text-align: right;
    border-bottom: #fff 2px solid;
    margin-bottom: 50px;
    padding-right: 5rem;
}

.skills-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills{
    margin: 5px;
}

@media only screen and (max-width:1100px){
    #skills{
        padding: 2rem 7rem;
    }
}

@media  only screen and (max-width:900px) {
    #skills{
    padding: 2rem;
    }
}

/* PROJECTS SECTION */
#projects{
    width: 80%;
    margin: 50px auto;
}

#projects h2{
    font-size: 3rem;
    text-align: left;
    margin-bottom: 50px;
    border-bottom: #65B1F3 2px solid;
    padding-left: 5rem;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* position: relative; */
}

.img-container{
    width: 450px;
    position: relative;
    height: fit-content;
    margin: 5px;
}

.card{
    position: absolute;
    top: 0px;
    background-color: #2f2b2bba;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.2s all ease;
    color: #fff;
}

.img-container:hover .card{
    transform: scaleX(1);
}

.img-container img{
    width: 100%;
    height: auto;
    display: block;
}

.card ul li{
    list-style:circle
}

@media only screen and (max-width: 920px) {
    #about h2, #skills h2, #projects h2{
        text-align: center;
        font-size: 2rem;
        padding-left: 0;
        padding-right: 0;
    }
}

/* CONTACT SECTION */

#contact{
    background-color: #8c8a943f;
    padding: 2rem;
    display: grid;
    grid-template-columns: 450px 750px;
    text-align: center;
    justify-content: center;
}
#contact h2{
    border-bottom: none;
    font-size: 3rem;
}

form{
    background-color: #626263;
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
}

input[type='text']{ 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input, textarea{
    width: 100%;
    background-color: #626263;
}

input{
    height: 2rem;
    border-bottom: #fff solid 1px;
}

input:focus label{
    background-color:  #927d7d;
}


input[type='submit']{
    width: 20%;
    border: 2px solid #626263;
    background-color: #fff;
}

.input-container{
    position: relative;
}

.submit-container{
    background-color: #626263;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 0;
}
label{
    position: absolute;
    top: 0;
    color: #fff;
}

@media only screen and (max-width: 1200px){

    #contact{
         grid-template-columns: 1fr 1fr;       
    }
}

@media only screen and (max-width : 950px) {
    #contact h2 {
        font-size: 2rem;
        margin-bottom: 8px;
    }
}

/* FOOTER SECTION*/

footer{
    background-color: #222020;
    position: relative;
    height: fit-content;
    text-align: center;
}

.footer-icon{
    display: inline-block;
    margin: 5px;
}

.icon-home{
    position: relative;
    bottom : 30px;
    color: #65B1F3;

}

.copyright{
    color: #fff;
    margin-top: 15px;
}
